<div class="container w-75 pt-4 text-center position-relative" *ngIf="!isLoading">

  <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
    <a routerLink="/customers" class="position-absolute start-0"><i class="fa-solid fa-arrow-left fs-4"></i></a>

    <h2 *ngIf="!customerId">Aggiungi Cliente</h2>
    <h2 *ngIf="customerId">Modifica Cliente</h2>

    <h3>Informazioni Aziendali</h3>
    <div class="d-flex flex-wrap justify-content-center">
      <mat-form-field appearance="outline">
        <mat-label>Ragione Sociale</mat-label>
        <input
          matInput
          type="text"
          name="ragioneSociale"
          id="ragioneSociale"
          formControlName="ragioneSociale"
        />
        <mat-error *ngIf="customerForm.invalid">{{
          getErrRagioneSociale()
        }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Partita Iva</mat-label>
        <input
          matInput
          type="text"
          name="partitaIva"
          id="partitaIva"
          formControlName="partitaIva"
        />
        <mat-error *ngIf="customerForm.invalid">{{
          getErrPartitaIva()
        }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Tipo Cliente</mat-label>
        <mat-select
          matInput
          type="text"
          name="tipoCliente"
          id="tipoCliente"
          formControlName="tipoCliente"
        >
          <mat-option value="SAS">SAS</mat-option>
          <mat-option value="SRL">SRL</mat-option>
          <mat-option value="SPA">SPA</mat-option>
        </mat-select>
        <mat-error *ngIf="customerForm.invalid">{{
          getErrTipoCliente()
        }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          name="email"
          id="email"
          formControlName="email"
        />
        <mat-error *ngIf="customerForm.invalid">{{ getErrEmail() }}</mat-error>
      </mat-form-field>
      <br />
      <mat-form-field appearance="outline">
        <mat-label>PEC</mat-label>
        <input
          matInput
          type="email"
          name="pec"
          id="pec"
          formControlName="pec"
        />
        <mat-error *ngIf="customerForm.invalid">{{ getErrPEC() }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Telefono</mat-label>
        <input
          matInput
          type="text"
          name="telefono"
          id="telefono"
          formControlName="telefono"
        />
      </mat-form-field>
    </div>
    <hr />

    <h3>Referente Aziendale</h3>
    <div class="d-flex flex-wrap justify-content-center">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input
          matInput
          type="text"
          name="nomeContatto"
          id="nomeContatto"
          formControlName="nomeContatto"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Cognome</mat-label>
        <input
          matInput
          type="text"
          name="cognomeContatto"
          id="cognomeContatto"
          formControlName="cognomeContatto"
        />
      </mat-form-field>
      <br />
      <mat-form-field appearance="outline">
        <mat-label>Telefono</mat-label>
        <input
          matInput
          type="text"
          name="telefonoContatto"
          id="telefonoContatto"
          formControlName="telefonoContatto"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          name="emailContatto"
          id="emailContatto"
          formControlName="emailContatto"
        />
        <mat-error *ngIf="customerForm.invalid">{{
          getErrEmailContatto()
        }}</mat-error>
      </mat-form-field>
    </div>
    <hr />
    <h3>Indirizzo Sede Operativa</h3>
    <div
      class="d-flex flex-wrap justify-content-center"
      formGroupName="indirizzoSedeOperativa"
    >
      <mat-form-field appearance="outline">
        <mat-label>Via</mat-label>
        <input matInput type="text" name="via" id="via" formControlName="via" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Civico</mat-label>
        <input
          matInput
          type="text"
          name="civico"
          id="civico"
          formControlName="civico"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>CAP</mat-label>
        <input matInput type="text" name="cap" id="cap" formControlName="cap" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Località</mat-label>
        <input
          matInput
          type="text"
          name="localita"
          id="localita"
          formControlName="localita"
        />
      </mat-form-field>
      <div formGroupName="comune" class="w-100">
        <span formGroupName="provincia">
          <mat-form-field appearance="outline">
            <mat-label>Provincia</mat-label>
            <mat-select
              matInput
              type="text"
              name="provincia"
              id="provinciaOp"
              formControlName="id"
              (ngModelChange)="updateSelectedProvinciaOp()"
            >
              <mat-option *ngFor="let item of province" value="{{ item.id }}">{{
                item.nome
              }}</mat-option>
            </mat-select>
            <mat-error *ngIf="customerForm.invalid">{{
              getErrProvinciaOp()
            }}</mat-error>
          </mat-form-field>
        </span>
        <mat-form-field appearance="outline">
          <mat-label>Comune</mat-label>
          <mat-select
            matInput
            type="text"
            name="comune"
            id="comuneOp"
            formControlName="id"
          >
            <mat-option
              *ngFor="let item of comuni"
              value="{{ item.id }}"
              [hidden]="!(item.provincia.id == selectedProvinciaOp)"
              >{{ item.nome }}</mat-option
            >
          </mat-select>
          <mat-error *ngIf="customerForm.invalid">{{
            getErrComuneOp()
          }}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <hr />
    <h3>Indirizzo Sede Legale</h3>
    <div
      class="d-flex flex-wrap justify-content-center"
      formGroupName="indirizzoSedeLegale"
    >
      <mat-form-field appearance="outline">
        <mat-label>Via</mat-label>
        <input matInput type="text" name="via" id="via" formControlName="via" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Civico</mat-label>
        <input
          matInput
          type="text"
          name="civico"
          id="civico"
          formControlName="civico"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>CAP</mat-label>
        <input matInput type="text" name="cap" id="cap" formControlName="cap" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Località</mat-label>
        <input
          matInput
          type="text"
          name="localita"
          id="localita"
          formControlName="localita"
        />
      </mat-form-field>
      <div formGroupName="comune" class="w-100">
        <span formGroupName="provincia">
          <mat-form-field appearance="outline">
            <mat-label>Provincia</mat-label>
            <mat-select
              matInput
              type="text"
              name="provincia"
              id="provinciaLeg"
              formControlName="id"
              (ngModelChange)="updateSelectedProvinciaLeg()"
            >
              <mat-option *ngFor="let item of province" value="{{ item.id }}">{{
                item.nome
              }}</mat-option>
            </mat-select>
            <mat-error *ngIf="customerForm.invalid">{{
              getErrProvinciaLeg()
            }}</mat-error>
          </mat-form-field>
        </span>
        <mat-form-field appearance="outline">
          <mat-label>Comune</mat-label>
          <mat-select
            matInput
            type="text"
            name="comune"
            id="comuneLeg"
            formControlName="id"
          >
            <mat-option
              *ngFor="let item of comuni"
              value="{{ item.id }}"
              [hidden]="!(item.provincia.id == selectedProvinciaLeg)"
              >{{ item.nome }}</mat-option
            >
          </mat-select>
          <mat-error *ngIf="customerForm.invalid">{{
            getErrComuneLeg()
          }}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <hr />
    <div>
      <button
        mat-raised-button
        class="w-25 mx-3 salvaBtn"
        color="primary"
        *ngIf="!customerId"
        [disabled]="customerForm.invalid"
      >
      <i class="fa-solid fa-user-plus fs-4 me-1"></i>Aggiungi Cliente
      </button>
      <button
        mat-raised-button
        class="w-25 mx-3 salvaBtn"
        color="primary"
        *ngIf="customerId"
        [disabled]="customerForm.invalid"
      >
      <i class="fa-solid fa-floppy-disk fs-4 me-1"></i>
      Salva Modifiche
      </button>
      <button mat-raised-button class="w-25 mx-3 annullaBtn" routerLink="/customers">
        Annulla
      </button>
    </div>
  </form>
</div>

<div
  class="d-flex justify-content-center align-items-center h-75"
  *ngIf="isLoading"
>
  <app-spinner></app-spinner>
</div>
