a {
  color: white;
  text-decoration: none;
  margin-right: 1.5rem;
}

a:hover {
  color: #ffca4b;
}

.exit:hover{
  color: #DF265E
}

mat-toolbar {
  background-color: #4169e1;
}

img {
  width: 2.5em;
  position: relative;
  right: 2em
}
