table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

mat-paginator {
  width: 100%;
}

.add-client{
  position: relative;
  right: 8%
}

a {
  top:1em;
}

a:hover {
  color: #ffca4b!important;
}
