button{
  background-color: #4169e1!important;
  color: white;
}

button:hover{
  background-color: #ffca4b!important;
  color: #4169e1!important;
}

a:hover {
  color: #ffca4b!important;

}

button:disabled{
  background-color: #c6dff3!important;

    color: #a2c4e0!important;
}

